.global-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding: 80px;
}
.wrapper:not(:nth-of-type(1)) {
  top: 100%;
}
.wrapper.right {
  top: 0;
  left: 100%;
}
.wrapper.left {
  top: 0;
  left: unset;
  right: 100%;
}

.wrapper:nth-of-type(1) {
  z-index: 1;
}

.wrapper:nth-of-type(2) {
  z-index: 2;
}

.wrapper:nth-of-type(3) {
  z-index: 3;
}

.wrapper:nth-of-type(4) {
  z-index: 4;
}

.wrapper:nth-of-type(5) {
  z-index: 5;
}

.wrapper:nth-of-type(6) {
  z-index: 6;
}

.wrapper:nth-of-type(7) {
  z-index: 7;
}

.gray-bg {
  background: #F5F5F5;
}

.yellow-bg {
  background: #E6DB74;
}

.header, .footer, .right-side, .left-side {
  position: fixed;
  width: 80px;
  height: 80px;
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px 80px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.left-side {
  top: 0;
  left: 0;
  height: 100%;
  z-index: 101;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 101;
}

#burger {
  position: fixed;
  top: 50%;
  left: 55px;
  width: 45px;
  height: 25px;
  z-index: 105;
  cursor: pointer;
}
#burger::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 45px;
  height: 4px;
  background: #000000;
  transition: all 500ms ease-in-out;
}
#burger > span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 45px;
  height: 4px;
  background: #000000;
  transform: translate(20%, -50%);
  transition: all 500ms ease-in-out;
}
#burger::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45px;
  height: 4px;
  background: #000000;
  transition: all 500ms ease-in-out;
}
#burger:hover::before {
  transform: translate(10px, 0);
}
#burger:hover > span {
  transform: translate(0, -50%);
}
#burger:hover::after {
  transform: translate(-10px, 0);
}
#burger.open::before {
  transform: rotate(28deg);
  transform-origin: top left;
}
#burger.open > span {
  width: 0;
}
#burger.open::after {
  transform: rotate(-28deg);
  transform-origin: bottom left;
}

#menu {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  position: fixed;
  margin-left: -100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: margin-left 300ms ease-in-out;
  z-index: 104;
}
#menu .content {
  width: 0;
  height: 100%;
  background: #ffffff;
  transition: all 1.5s 300ms ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0;
}
#menu .content > a {
  margin-bottom: 32px;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  color: #272822;
}
#menu .window {
  width: 100%;
  height: 100%;
  background: rgba(230, 219, 116, 0.8666666667);
  opacity: 0;
  transition: all 1.5s 300ms ease-in-out;
}
#menu.open {
  margin-left: 0;
}
#menu.open .content {
  width: 80%;
  padding-left: 160px;
}
#menu.open .window {
  width: 20%;
  opacity: 1;
}

@-webkit-keyframes unfade-left {
  0% {
    transform: translate(100%, -50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes unfade-left {
  0% {
    transform: translate(100%, -50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@-webkit-keyframes fade-right {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(100%, -50%);
    opacity: 0;
  }
}
@keyframes fade-right {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(100%, -50%);
    opacity: 0;
  }
}
.main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 378px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 94px;
  color: #272822;
  transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-animation: unfade-left 1.5s ease-in-out;
          animation: unfade-left 1.5s ease-in-out;
}
.main-title > span {
  color: #F92672;
}
.main-title.fade-on {
  opacity: 0;
  -webkit-animation: fade-right 1.5s ease-in-out;
          animation: fade-right 1.5s ease-in-out;
}

@-webkit-keyframes slide-left {
  0% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}

@keyframes slide-left {
  0% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}
@-webkit-keyframes slide-right {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@keyframes slide-right {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
.slide-on {
  min-height: calc(100vh - 160px);
  height: 100%;
  width: 50%;
  -webkit-animation: slide-left 1s ease-in-out;
          animation: slide-left 1s ease-in-out;
}
.slide-on.slide-off {
  width: 100%;
  -webkit-animation: slide-right 1s ease-in-out;
          animation: slide-right 1s ease-in-out;
}

.link {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 21px;
  color: #272822;
}
.link:active {
  text-decoration: underline;
}

.lang-selector {
  display: flex;
  gap: 4px;
}
.lang-selector > .link.active {
  color: #F92672;
}

.since-txt {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: calc(100vh - 160px);
  max-width: 600px;
  padding-left: 160px;
}
.since-txt > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
.since-txt > p:first-of-type {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #F92672;
}
.since-txt > p:last-of-type {
  font-weight: 400;
  color: #272822;
  margin-top: 32px;
}

.skills {
  background: #F5F5F5;
  padding: 160px;
}
.skills-title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 80px;
  line-height: 94px;
  color: #272822;
}
.skills-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}
.skills-item__name {
  font-family: "Roboto";
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
.skills-item__progress {
  width: min(680px, 100%);
  height: 14px;
  background: rgba(185, 41, 112, 0.1882352941);
  border-radius: 8px;
  overflow: hidden;
}
.skills-item__progressbar {
  height: 100%;
  background: #B92970;
  border-radius: 8px;
  width: 70%;
}

.experiense {
  background: #F5F5F5;
}

.experiense-text {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 80px;
  line-height: 94px;
  color: #272822;
  padding: 80px 0 0 80px;
}

.experiense-item {
  display: flex;
  flex-direction: column;
  padding: 80px 0 0 80px;
}
.experiense-item .exp-date, .experiense-item .crtf-link {
  font-family: "Roboto";
  font-style: italic;
  font-size: 18px;
  line-height: 21px;
  color: #F92672;
}
.experiense-item .exp-place, .experiense-item .exp-job {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin-top: 10px;
}
.experiense-item .exp-job {
  font-weight: 400;
  color: #272822;
  margin: 0;
}
.experiense-item .crtf-link {
  margin-top: 48px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.contact {
  display: flex;
  padding: 0 80px;
  justify-content: space-between;
}
.contact .question, .contact .mail-link, .contact .phone {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #F92672;
}
.contact .mail-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  color: #272822;
}
.contact .phone {
  font-style: normal;
  color: #000000;
}